NODE_ENV=

PORT=
JWT_SECRET=

# Database configuration
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://:@:/

# Loki
LOKI_PORT=3100
LOKI_URL=http://loki:3100
GRAFANA_PASSWORD=
GRAFANA_USER=
GRAFANA_PORT=3001

# App
IDEMPOTENCY_EXPIRES_HOURS=
LOG_LEVEL=